.event_card-container {
    font-size: 16px;
    border-bottom: #efeff4 2px solid;
    margin-bottom: 16px;
    font-family: var(--font-default, sans-serif);
}

.event_card-container .image_container {
    width: 94px;
}

.event_card-container .image_container .image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.event_card-container .image_container .placeholder {
    height: 100%;
    width: 100%;
    background: #d5d5d5;
}

.event_card-container .event_info {
    display: flex;
}

.event_card-container a.link:link,
.event_card-container a.link:visited,
.event_card-container a.link:active {
    margin-left: 8px;
    text-decoration: none;
    font-weight: bold;
    font-size: 16px;
    color: #5067ed;
}

.event_card-container .event_info .content {
    flex: 1;
    display: flex;
    flex-direction: column;
    color: rgba(0, 0, 0, .5);
    padding: 0 24px;
}

.event_info .content .content-header {
    display: flex;
    justify-content: space-between;
}

.event_info .content .title {
    color: #000000;
    font-weight: bold;
}

.event_card-container .event_situation {
    display: flex;
    padding: 16px 0;
}

.event_card-container .event_situation .status {
    display: flex;
    justify-content: center;
    width: 94px;
    font-weight: bold;
}

.event_card-container .event_situation .info {
    flex: 1;
    padding: 0 24px;
    color: rgba(0, 0, 0, .5);
}

.event_situation .status.yellow {
    color: #ebc803;
}

.event_situation .status.red {
    color: #fc5a63;
}

.event_situation .status.green {
    color: #26c240;
}

@media ( min-width: 880px) {
    .event_card-container .image_container {
        height: 120px;
        width: 141px;
    }
    .event_card-container .event_situation .status {
        width: 141px;
    }
}

@media ( min-width: 425px) {

}