::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

mark {
    padding: 0;
    background-color: #ffd703;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container .logo_container {
    margin: 16px 8px 8px 8px;
}

.container .header .icon {
    display: none;
}

header, main, footer {
    font-family: var(--font-default, sans-serif);
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 16px 0;
}

.halo {
    display: inline-block;
    background: rgba(80, 103, 237, 0.14);
    border: #5067ed 1px solid;
    border-radius: 50%;
    padding: 20px 17px 14px 17px;
}

.header .more_link:link,
.header .more_link:visited,
.header .more_link:hover,
.header .more_link:active {
    font-size: 16px;
    margin-top: 16px;
    font-weight: bold;
    text-decoration: none;
    align-self: center;
}

.header h1 {
    display: none;
}

.header h1,
.header h2 {
    font-size: 16px;
    margin: 0;
}

.header h2::before {
    content: 'Aviso: ';
}

.header .info_text {
    display: flex;
    text-align: left;
    padding: 0 8px;
    margin: 16px 0 0 0;
}

.header .text_search {
    padding: 16px 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.main .list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.main .list-header .last_modified {
    font-size: 14px;
    color: rgba(0, 0, 0, .5);
}

.main .list-header h3 {
    margin: 0 0 0 8px;
}

.main .reload-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main .reload-container img {
    display: inline-flex;
    height: 210px;
    width: 237px;
    margin-bottom: 24px;
}

.reload-container button.reload {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    margin: 0 0 16px 0;
    font-size: 22px;
    color: #ffffff;
    background: #5067ed;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    font-family: var(--font-default, sans-serif);
}

.footer .information {
    text-align: center;
    margin: 18px 0;
    padding: 0 16px;
}

@media (max-width: 880px) {
    .main_footer .container .content {
        flex-wrap: wrap;
    }

    .main_footer .container .content {
        padding: 42px 16px;
    }

    .container .content .app_market-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
    }

    .header .text_search {
        padding: 16px;
    }
}

@media (max-width: 425px) {

    .header .info_text {
        flex-direction: column;
        text-align: center;
    }

    .header h1 {
        display: block;
    }

    .header h1,
    .header h2 {
        font-size: 16px;
        margin: 0;
    }

    .header h2::before {
        content: '';
    }

    .main .list-header {
        justify-content: normal;
    }

    .main .list-header .last_modified {
        flex: 1;
        font-size: 12px;
        margin-left: 24px;
    }

    .main .list-header h3 {
        font-size: 14px;
    }


    .container .header .icon {
        display: block;
    }

    .main_footer .container .content {
        flex-direction: column;
        padding: 42px 16px;
        align-items: center;
        text-align: center;
    }

    .container .content li {
        flex-direction: column;
    }

    .main_footer .container .content div {
        margin-bottom: 16px;
    }

    .container .content .logo_container {
        align-self: flex-start;
    }

    .container .content .app_market-container {
        align-items: center;
    }

    .container .legal_content {
        text-align: center;
    }

    .container .legal_content .corp {
        flex-direction: column;
    }
}