::-webkit-scrollbar {
    width: 8px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1;
}

::-webkit-scrollbar-thumb {
    background: #888;
}

::-webkit-scrollbar-thumb:hover {
    background: #555;
}

.container {
    max-width: 900px;
    margin: 0 auto;
}

.container ul {
    list-style: none;
    padding: 0;
}

.container .logo_container {
    margin: 16px 8px 8px 8px;
}

.container .header .icon {
    display: none;
}

header, main, footer {
    font-family: var(--font-default, sans-serif);
}

.ir-header {
    min-height: 40px;
    border-bottom: 1px solid #5369e5;;
}

.ir-header .container {
    max-width: 1130px;
}

.header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-size: 12px;
    padding: 16px 0;
}

.halo {
    display: inline-block;
    background: rgba(80, 103, 237, 0.14);
    border: #5067ed 1px solid;
    border-radius: 50%;
    padding: 20px 17px 14px 17px;
}

.header h1{
    display: none;
}

.header h1,
.header h2 {
    font-size: 16px;
    margin: 0;
}

.header h2::before {
    content: 'Aviso: ';
}

.header .info_text {
    display: flex;
    text-align: left;
    padding: 0 8px;
    margin: 16px 0 0 0;
}

.header .text_search {
    padding: 16px 0;
}

.main {
    display: flex;
    flex-direction: column;
}

.main h3 {
    margin: 0 0 0 8px;
}

.main .reload-container {
    display: flex;
    flex-direction: column;
    align-self: center;
    justify-content: center;
}

.main .reload-container img {
    display: inline-flex;
    height: 210px;
    width: 237px;
    margin-bottom: 24px;
}

.reload-container button.reload {
    border: none;
    border-radius: 8px;
    padding: 8px 16px;
    font-size: 22px;
    color: #ffffff;
    background: #5067ed;
}

.main ul.event_list {
    list-style: none;
    padding: 0;
    margin-top: 32px;
}

.footer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 16px;
    font-family: var(--font-default, sans-serif);
}

.footer .information {
    text-align: center;
    margin: 18px 0;
    padding: 0 16px;
}

.main_footer {
    flex: 1;
    bottom: 0;
    background: #232222;
    color: #ffffff;
    padding-bottom: 40px;
}

footer.main_footer .container {
    max-width: 1130px;
}

.main_footer .container .content {
    font-size: 14px;
    color: #a6a6a6;
    font-weight: bold;
    padding: 42px 0;
    display: flex;
    justify-content: space-between;
}

.legal_content {
    padding: 0 16px;
    font-size: 12px;
}

.legal_content .corp {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 16px 0 32px 0;
}

.content li a:visited,
.content li a:link {
    text-decoration: none;
    color: #ffffff;
}

.content li a:active,
.content li a:hover,
.content li a:focus {
    color: #5067ed;
}


.container .content li {
    color: #ffffff;
    margin: 12px 0;
    font-size: 12px;
    font-weight: normal;
    display: flex;
    justify-content: space-between;
}

.horizontal_list {
    display: flex;
}

.horizontal_list.app_market li:first-child {
    margin-right: 24px;
}

.horizontal_list.social_list li {
     margin-right: 20px;
}

@media (max-width: 880px) {
    .main_footer .container .content {
        flex-wrap: wrap;
    }
    .main_footer .container .content {
        padding: 42px 16px;
    }

    .container .content .app_market-container {
        display: flex;
        flex-direction: column;
        flex: 1;
        align-items: flex-end;
    }

    .header .text_search {
        padding: 16px;
    }
}

@media (max-width: 425px) {

    .header .info_text {
        flex-direction: column;
        text-align: center;
    }
    .header h1{
        display: block;
    }

    .header h1,
    .header h2 {
        font-size: 16px;
        margin: 0;
    }

    .header h2::before {
        content: '';
    }


    .container .header .icon {
        display: block;
    }

    .main_footer .container .content {
        flex-direction: column;
        padding: 42px 16px;
        align-items: center;
        text-align: center;
    }

    .container .content li {
        flex-direction: column;
    }

    .main_footer .container .content div {
        margin-bottom: 16px;
    }

    .container .content .logo_container {
        align-self: flex-start;
    }

    .container .content .app_market-container {
        align-items: center;
    }

    .container .legal_content {
        text-align: center;
    }

    .container .legal_content .corp {
        flex-direction: column;
    }
}